body{ 
    background-color: #2C3639;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr, auto, 1fr;
    grid-template-areas: "hd"
                         "buttons-container"
                         "ft";
    gap: 50px;
    align-items: center;
    justify-items: center;
}

h1{
    font-family: 'Press Start 2P', cursive;
    grid-area: hd;
    font-size: 3.5rem;
    color:#FAF3E3;
    margin: 50px 0px 10px 0px;
    text-align: center;
    text-shadow: 5px 5px black;
}

.buttons-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "green red" " yellow blue";
    gap: 40px;
}

.btn{
    width: 200px;
    height: 200px;
    border-radius: 40px;
    border-width: 10px;
}
.green{
    background-color: green;
    color: green;
    grid-area: green;
}
.red{
    background-color: red;
    color: red;
    grid-area: red;
}
.yellow{
    background-color: yellow;
    color: yellow;
    grid-area: yellow;
}
.blue{
    background-color: blue;
    color: blue;
    grid-area: blue;
}

footer{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color : #FAF3E3;
}